* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0 20px;
    height: 75px;
    color: white;
}

.logo h1 {
    font-family: 'Borel', cursive;
    font-size: 45px;
    margin: 50px 0px 20px 40px;
}

.hero {

    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/hero-image.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px 20px;
}

.hero .container h2 {
    font-size: 58px;
    max-width: 900px;
    margin: 20px auto;
}

.hero .container p {
    font-size: 22px;
    max-width: 800px;
    margin: 0 auto 40px auto;
}

.btn {
    padding: 12px 25px;
    background-color: #00C853;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

.btn:hover {
    background: linear-gradient(22.5deg, red, #00C853, orange);
}

.footer {
    width: 100%;
    height: 195px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer .terms {
    display: flex;
    gap: 20px;
    font-size: 13px;
    justify-content: center;
}

.terms a {
    text-decoration: none;
    color: white;
}

.terms a:hover {
    text-decoration: underline 1px white;
}

.copyright {
    font-size: 12px;
    margin-top: 05px;
    margin-bottom: 25px;
}